@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind tailwindcss-font-inter;

body {
  font-family: "SF Pro Display", system-ui, sans-serif;
  background-color: #000;
  color: white;
  overflow-x: hidden;
}

h2 {
  font-size: 1.3em;
}

h4 {
  font-size: 1.6em;
}

.ff {
  font-family: "SFPro-ExpandedBlack", system-ui, sans-serif;
}

a:hover {
  opacity: 1;
}

p {
  font-size: 1.2rem;
}

.rounded {
  border-radius: 15px;
}

/* Navigation */
.nav {
  border-bottom: solid 1px #ffffff61;
}

/* Unauthenticated Homepage Styles */

.hero-text {
  position: absolute;
  margin-left: 75px;
  text-transform: uppercase;
  font-size: 5rem;
  width: 53%;
  line-height: 1;
}

/* Form styles */
label {
  display: none;
}

input {
  padding: 12px;
  height: 45px;
  width: 350px;
  background-color: transparent;
}

/* Custom Button Styles */
.btn {
  width: 115px;
}

.btn-light {
  color: #000;
  background-color: #fff;
}

.btn-dark {
  color: #fff;
}

.btn-dark:hover {
  color: #000;
  border-color: black;
  background-color: #fff;
  transition: 0.4s;
  transition-property: transform;
}

.add-item-btn {
  width: 75px;
  height: auto;
}

.add-item-link {
  position: fixed;
  bottom: 6%;
  right: 3%;
}

.add-item-btn-type {
  height: 35px;
  width: 35px;
  background-image: url("/public/cloud-btn.png");
}

.line {
  width: 100vw;
  height: 1px;
  background-color: #ffffff61;
}

/* Hover effects */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.1);
}

/* Content Selection Styles */
.content-select {
  border-bottom: solid 1px #ffffff61;
}

.content-select button {
  font-size: 1.75em;
  font-family: "SFPro-Bold", system-ui, sans-serif;
  opacity: 0.85;
  height: 55px;
}

.content-select button:hover {
  border-bottom: solid 5px #fff;
}

/* Content Cards */

.content-card {
  border: solid 1px #fff;
  border-radius: 1.5rem;
  height: 250px;
  padding: 15px;
}

.content-card-public {
  height: 50px;
  width: 100%;
  align-items: center;
}

.checkbox {
  border: solid 1px #fff;
}

.checkbox:hover {
  background-color: #fff;
}

.checkbox-public {
  height: 25px;
  width: 25px;
}

.submarine-content-card {
  height: 625px;
}

.user-dashboard-card {
  height: 300px;
  align-items: center;
  padding: 10px;
  position: "relative";
}

.content-iframe {
  height: 550px;
  width: auto;
  border-radius: 20px;
}
