@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind tailwindcss-font-inter;

body {
  font-family: "SF Pro Display", system-ui, sans-serif;
  background-color: #000;
  color: white;
  overflow-x: hidden;
}

h2 {
  font-size: 1.3em;
}

h4 {
  font-size: 1.5em;
}

.ff {
  font-family: "SFPro-ExpandedBlack", system-ui, sans-serif;
}

a:hover {
  opacity: 1;
}

/* Navigation */
.nav {
  border-bottom: solid 1px #ffffff61;
}

/* Unauthenticated Homepage Styles */

.hero-text {
  position: absolute;
  margin-left: 75px;
  text-transform: uppercase;
  font-size: 5rem;
  width: 53%;
  line-height: 1;
}

/* Form styles */
label {
  display: none;
}

input {
  padding: 12px;
  height: 45px;
  width: 350px;
  background-color: transparent;
}

/* Custom Button Styles */
.btn {
  width: 115px;
}

.btn-light {
  color: #000;
  background-color: #fff;
}

.btn-dark {
  color: #fff;
}

.btn-dark:hover {
  color: #000;
  border-color: black;
  background-color: #fff;
  transition: 0.4s;
  transition-property: transform;
}

.add-item-btn {
  width: 75px;
  height: auto;
}

.add-item-link {
  position: absolute;
  bottom: -5%;
  right: 3%;
}

/* Hover effects */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.1);
}

/* Content Selection Styles */
.content-select {
  border-bottom: solid 1px #ffffff61;
}

.content-select a {
    font-size: 1.75em;
    font-family: "SFPro-Bold", system-ui, sans-serif;
    opacity: 0.85;
}

.content-select a:hover {
  border-bottom: solid 5px #fff;
}

